  .suggest {
    display: flex;
    align-items: center;
    color: black;
    padding: 8px 10px;
    transition: background-color 0.3s;
  }

  .suggest:hover {
    background-color: #f0f0f0;
  }
  
  .suggest img {
    width: 15px;
    height: auto;
    margin-right: 10px;
  }
  